

#header{ width: 100%; padding-bottom: 30px;
    background-color: black;
    position: fixed;
    top: 0; left: 0;
    z-index: 300;}

    
.here p2{ display: block; text-align: center;}
.here {
    position: absolute;
    left: 41.3%;top:20%;
    color: #ffcc00;
    animation-name: clickhere;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0;
    animation-timing-function: linear;
}

@keyframes clickhere{
    0%{top:20%;}
    100%{top:30%;}
}

.headerin{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}
.headerin .lnb{
    margin: 20px 0 24px 986px;
    
}
.headerin .lnb li{
    float: left; margin-left: 20px;
    color: #33cc33;
    font-size: 18px; font-weight: 300;
}

.logo img{width: 228px; height: 62px;}

.menu>a{
    position: absolute; top:67px; left:360px;
}


.menu ul{
    position: absolute;
    top:72px; left:400px;
}
.menu li{
    font-size: 24px; font-weight: 400;
    margin-left: 30px;
    float: left;
}
.menu li:hover {color: #ffcc00; transition: all 0.2s;}
.gnb{
    position: absolute;
    top:67px; right: 0;
}
.gnb li{
    float: left; margin-left: 30px; 
}
.gnb li a img{
    width: 35px; height: 35px; 
    
}

/**************** gnb hover 하기 */
/* header */

#mainVisual { height:565px;
    margin: 190px auto 0 auto;
    transform: translateY(5%);
    position: relative;
}
.visual li{
    max-width: 1920px; margin: 0 auto;
} 

.visual img{ width: 100%; height: auto; min-width: 1300px;}

/* @@@@@@ */
#mainVisual .arrow{
    display: none;
    width: 1300px;
    position: absolute; top: 45%; left: 50%;
    margin-left: -650px;
}
#mainVisual .arrow .leftA{ float: left;transform: rotate(45deg); }
#mainVisual .arrow .leftB{ float: right;transform: rotate(-135deg); }
.arrow img{width: 50px;}
/* @@@@@@@@@@@@@@@@@@@@@@ */
button{
    transform: translateY(-20px);
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 0;
}
#mainVisual .slick-arrow{
    width: 60px; height: 60px;
    border-top: 10px solid #33cc33;
    border-right: 10px solid #33cc33;
    
    position: absolute;
    top: 50%; transform: translateY(-50%);
}/* arrow공통값 */
#mainVisual .slick-prev{
    
    left: 70px;
    transform: rotate(-135deg);
    z-index: 10;
}/* 이전버튼 */
#mainVisual .slick-next{
    right: 70px;
    transform: rotate(45deg);
}/* 다음버튼 */


.slick-dots{z-index: 999;
    position: absolute;
    left: 50%; transform: translateX(-50%);
    bottom: 50px;
    
}/* ul */
.slick-dots li{z-index: 999;
    display: inline-block;
    margin: 0 10px;
    
}
.slick-dots li button{z-index: 999;
    width: 10px; height: 10px;
    border-radius: 100%;
    background-color: white;
    box-shadow: 0 0 2px black;
}
.slick-dots li.slick-active button{z-index: 999;
    background-color: #33cc33;
}/* 불들어와있는 li */



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
#mainVisual .arrowH{
    width: 1300px;
    position: absolute; top: 45%; left: 50%;
    margin-left: -650px;
}
#mainVisual .arrowH .leftA{float: left;transform: rotate(45deg);opacity: 0; transition: all 0.2s;  }
#mainVisual .arrowH .leftB{float: right;transform: rotate(-135deg);opacity: 0; transition: all 0.2s; }
.arrowH img{width: 50px; }
#mainVisual .arrowH .leftA:hover {opacity: 1;}
#mainVisual .arrowH .leftB:hover {opacity: 1;}

.circle {display: none;
    position: absolute; bottom: 45px; left: 50%;
}
.circle li{
    float: left; margin-right: 20px;
    font-size: 0; width: 13px; height: 13px; border-radius: 100%;
    background-color: white; border: 1px solid #8b8b8b;
}
.circle .on{background-color:#ffcc00;}




/* mainVisual */
.cont1{ margin-top: 50px; background-color: rgba(51, 204, 51, 20%);}
.cont1in{
    width: 1300px; margin: 0 auto; padding: 50px 0 50px 0; 
    position: relative;
}
.cont1in h1{
    font-size: 48px; font-weight:700; margin-bottom: 40px;
    
}
.cont1in h2{margin-bottom: 10px; font-size: 30px; font-weight: 300;}
.cont1in>a{
    width: 100px; height: 40px; border: 3px solid white;
    border-radius: 15px;
    font-size: 18px; font-weight:300;
    text-align: center; line-height: 40px;
    float: right; position: absolute; right: 0;
    transform: translateY(-80px);
    
    
}
.cont1in>a:hover{
    color:#ffcc00;
    border-color: #ffcc00;
}

.cont1in li{
    float: left; margin-right: 20px;
    width: 310px;
    
}
.cont1in li:last-child{margin-right: 0;}



.cont1in li p1{display: block;
    background-color: white; border-radius: 15px; overflow: hidden;
}
.cont1in li p2{display: block; 
    font-size: 18px; font-weight: 300;opacity: 70%;
    margin-top: 20px; text-align: center;}

.cont1in .sale{
    display: flex; justify-content:center;
    align-items: baseline;
    
}
.cont1in .sale>p3{ margin-right: 0;}

.cont1in li p3{display: block; margin: 20px 50px 0 0;
    font-size: 20px; font-weight: 600; text-align: right; 
    
    
    
}
.cont1in li p4{display: block; 
    font-size: 20px; font-weight: 600; color: #ffcc00;
    
}
.cont1in li p5{display: block; margin: 0 10px 0 10px;}

.cont1in li img{width: 310px; height: 330px;}



/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.cont2{ margin-top: 50px;}
.cont2in{
    width: 1300px; margin: 0 auto; padding: 50px 0 50px 0; 
    position: relative;
}
.cont2in h1{
    font-size: 48px; font-weight:700; margin-bottom: 40px;
    
}

.cont2in>a{
    width: 100px; height: 40px; border: 3px solid white;
    border-radius: 15px;
    font-size: 18px; font-weight:300;
    text-align: center; line-height: 40px;
    float: right; position: absolute; right: 0;
    transform: translateY(-80px);
    
    
}
.cont2in>a:hover{
    color:#ffcc00;
    border-color: #ffcc00;
}

.cont2in li{
    float: left; margin-right: 20px;
    width: 310px;
    
}
.cont2in li:last-child{margin-right: 0;}
.cont2in li p1{display: block;
    background-color: white; border-radius: 15px; overflow: hidden;
}
.cont2in li p2{display: block; 
    font-size: 18px; font-weight: 300;opacity: 70%;
    margin-top: 20px; text-align: center;}

.cont2in .sale{
    display: flex; justify-content:center;
    align-items: baseline;
    
}
.cont2in .sale>p3{ margin-right: 0;}

.cont2in li p3{display: block; margin: 20px 50px 0 0;
    font-size: 20px; font-weight: 600; text-align: right; 
    
    
    
}
.cont2in li p4{display: block; 
    font-size: 20px; font-weight: 600; color: #ffcc00;
    
}
.cont2in li p5{display: block; margin: 0 10px 0 10px;}

.cont2in li img{width: 310px; height: 330px;}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.cont3{ margin-top: 50px; background-color: rgba(51, 204, 51, 20%);}
.cont3in{
    width: 1300px; margin: 0 auto; padding: 50px 0 50px 0; 
    position: relative;
}
.cont3in h1{
    font-size: 48px; font-weight:700; margin-bottom: 40px;
    
}

.cont3in>a{
    width: 100px; height: 40px; border: 3px solid white;
    border-radius: 15px;
    font-size: 18px; font-weight:300;
    text-align: center; line-height: 40px;
    float: right; position: absolute; right: 0;
    transform: translateY(-80px);
    
    
}
.cont3in>a:hover{
    color:#ffcc00;
    border-color: #ffcc00;
}

.cont3in li{
    float: left; margin-right: 20px;
    width: 310px;
    
}
.cont3in li:last-child{margin-right: 0;}
.cont3in li p1{display: block;
    background-color: white; border-radius: 15px; overflow: hidden;
}
.cont3in li p2{display: block; 
    font-size: 18px; font-weight: 300;opacity: 70%;
    margin-top: 20px; text-align: center;}

.cont3in .sale{
    display: flex; justify-content:center;
    align-items: baseline;
    
}
.cont3in .sale>p3{ margin-right: 0;}

.cont3in li p3{display: block; margin: 20px 50px 0 0;
    font-size: 20px; font-weight: 600; text-align: right; 
    
    
    
}
.cont3in li p4{display: block; 
    font-size: 20px; font-weight: 600; color: #ffcc00;
    
}
.cont3in li p5{display: block; margin: 0 10px 0 10px;}

.cont3in li img{width: 310px; height: 330px;}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.cont4{margin-top: 50px;}
.cont4in{width: 1300px; margin: 0 auto; padding: 50px 0 50px 0; }
.cont4in li{
    width: 636px; height: 330px; background-color: white; border-radius: 30px;
    float: left; margin-right: 26px; font-size: 0;
    
}
.cont4in li:first-child img{width: 645px;transform: translateX(-8px);}
.cont4in li:last-child{margin-right: 0;}
/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.cont5{
    margin-top: 50px;
}
.cont5in{
    width: 1300px; margin: 0 auto; padding: 50px 0 100px 0; 
    position: relative;
}
.cont5in h1{
    font-size: 48px; font-weight:700; margin-bottom: 40px;
    
}
.cont5in>a{
    width: 100px; height: 40px; border: 3px solid white;
    border-radius: 15px;
    font-size: 18px; font-weight:300;
    text-align: center; line-height: 40px;
    float: right; position: absolute; right: 0;
    transform: translateY(-80px);
}
.cont5in>a:hover{color: #ffcc00; border-color: #ffcc00;}
.cont5in ul{
    float: left; margin-right: 26px;
}
.cont5in ul:last-child{ margin-right: 0;}

.cont5in p1{ 
    display: block;
    background-color: white; width: 305px; height: 330px; border-radius: 30px;
    font-size: 0;

}

.cont5in p3{
    display: block; font-size: 20px; font-weight: 600; text-align: center; margin-top: 35px;

}
/* cont */

#footer { margin-top:50px; background-color:rgba(51, 204, 51, 10%);}
.ftin{
    width: 1300px; margin:0 auto; padding:50px 0 50px 0; 
    
}
.ftlogo img{
    width: 200px; height: 55px; opacity: 70%;
}
.etc{
    margin-top: 60px; 
    
}
.etc>li{
    float: left; margin-right: 120px; color:rgba(255, 204, 0, 0.5) ;
    font-size: 16px; font-weight: 300;
}
.ftftin{
    height: 60px; background-color: rgba(51, 204, 51, 15%);
    
}
.ftmenu{ width: 1300px; margin: 0 auto;}
.ftftin li{
    float: left; margin-right: 189px; 
    font-size: 18px; font-weight: 300; color:rgba(255, 204, 0, 0.8) ;
    line-height: 60px;
}
.ftftin li:last-child{margin-right: 0;}
.ftftft{font-size: 0; height: 50px;}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
.cont4in li{ overflow: hidden;}
.cont4in li:last-child img{height: 390px; transform: translateY(-20px);}
.cont4in img{width:640px; height: 345px; }

.cont5in .r1{text-align: center; overflow: hidden; }
.cont5in .r1 img{width:100%; height: 330px; }
.cont5in .r2{text-align: center; overflow: hidden; }
.cont5in .r2 img{width:500px; height: 500px; transform: translate(-150px,-70px); }
.cont5in .r3{text-align: center; overflow: hidden; }
.cont5in .r3 img{width:110%; height: 100%; transform: translateX(-10px);}
.cont5in .r4{text-align: center; overflow: hidden; }
.cont5in .r4 img{width:100%; height: 500px; transform: translateY(-80px); }